* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  font-family: "Quicksand";
}

a {
	text-decoration: none;
}

.container {
	display: grid;
	grid-template-columns: repeat(8, 1fr);   
	height: 100vh;
}

/* HEADER|MENU */

header {
	grid-column: 1 / 9;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: #1ab455;
	padding: 30px;
}

header ul {
	display: flex;
	list-style: none;
}

header ul li {
	margin-right: 30px;
}

header h1 a {
	font-size: 2.5rem;
	color: #fff;
}

header ul li a {
	color: #fff;
	letter-spacing: 1.5px;
}

.link:hover {  /* ALTEREI AQUI */
	color: #000;
}

/* --------------------------- */

.formBasico, .formEnd {
	display: none;
}

.log, .formBasico, .formEnd {
	grid-column: 1 / 9;
	margin: 30px auto;
}

fieldset {
	padding: 50px;
}

fieldset legend {
	font-size: 2rem;
}

.log label, .formBasico label, .formEnd label {
	font-size: 1.25rem;
	display: block;
}

.log input, .formBasico input, .formEnd input {
	font-family: "Quicksand";
	padding: 10px;
	width: 300px;
	margin: 5px 0px 20px 0px;
}

select {
	display: block;
}

.tipoConta {
	font-family: "Quicksand";
	padding: 10px;
	width: 300px;
	margin: 5px 0px 20px 0px;
}

.tipoConta option {
	font-family: "Quicksand";
}

.btn-logar, .btn-avancar,
.btn-finalizar,
.btn-voltar,
.botao-voltar,
.modalCadastroPix .botao-cadastrarPix {
	font-family: "Quicksand";
	font-size: 1.15rem;
	font-weight: bold;
	letter-spacing: 1.5px;
	text-align: center;
	background: #1ab455;
	color: #fff;
	border: 1px solid #fff;
	padding: 10px;
	width: 300px;
	display: block;
	transition: all 0.3s;
	cursor: pointer;
}

.formEnd div {
	display: flex;
}

.formEnd a {
	width: 150px;
}

.btn-voltar {
	background: tomato;
	color: #fff;
}

.btn-voltar:hover {
	background: rgb(245, 107, 83);
}

.btn-logar:hover, .btn-avancar:hover, .btn-finalizar:hover {
	background: #27ca65;
}

.botao-cadastrar { /* ALTEREI AQUI */
	font-family: "Nunito";
	font-size: 1.25rem;
	width: 50%;
	padding: 12px;
}

/* --------------------------- */

/* FUNÇÕES BÁSICAS (SACAR, DEPOSITAR, TRANSFERIR, CONSULTAR) */

.funcoes p, .cartoes p {
	font-size: 1.5rem;
	padding: 30px;
	position: absolute;
	right: 80px;
	top: 110px;
}

.funcoes, .cartoes, .pix, .menuSeguros, .contas, .escolhaCartoes {
	grid-column: 1 / 9;
	margin: 100px auto;
}

.funcoes div, .cartoes div, .pix div, .menuSeguros div, .contas div, .escolhaCartoes div {
	display: flex;
	padding: 20px auto;
	margin: 0 auto;
}

.funcoes a,
.pix a,
.menuSeguros a,
.contas a,
.escolhaCartoes a {
	font-size: 2rem;
	background: transparent;
	color: #000;
	border: 2px solid rgba(0,0,0,0.5);
	padding: 80px;
	margin-right: 15px;
	transition: all 0.3s;
	cursor: pointer;
}

.funcoes a:hover,
.cartoes a:hover,
.pix a:hover,
.menuSeguros a:hover,
.contas a:hover,
.escolhaCartoes a:hover {
	background: #27ca65;
	color: #fff;
	border: 2px solid #fff;
}

.saque,
.deposito,
.transferencia,
.exclusaoPix,
.transferirPix,
.consultaPix,
.consultaDebito,
.consultaCredito,
.acionarSeguro,
.comprar {
	grid-column: 1 / 9;
	width: 500px;
	margin: 0 auto;
	padding: 50px;
}

.consultaDebito p, .consultaCredito p {
	padding: 5px 0;
}

.consultaDebito .valor, .consultaCredito .valor {
	margin-bottom: 15px;
}

.escolhaCartoes h2 {
	text-align: center;
	padding: 30px;
}

.consulta {
	grid-column: 3 / 7;
	padding: 50px 0px 0px 0px;
}

.consulta fieldset {
	display: flex;
	justify-content: space-between;
}

.consulta p {
	font-size: 1.25rem;
	margin-bottom: 15px;
}

fieldset {
	padding: 50px;
}

fieldset legend {
	font-size: 2rem;
}

.saque p,
.deposito p,
.transferencia p {
	font-size: 1.5rem;
	padding: 30px;
	position: absolute;
	right: 80px;
	top: 110px;
}

.saque label,
.deposito label,
.transferencia label,
.comprar label {
	display: block;
}

.saque input,
.deposito input,
.transferencia input,
.comprar input,
.modalCadastroPix #conteudoChave {
	font-family: "Quicksand";
	padding: 10px;
	width: 300px;
	margin: 5px 0px 20px 0px;
}

.saque a,
.deposito a,
.transferencia a,
.cadastroPix a,
.exclusaoPix a,
.transferirPix a,
.consultaPix .voltar,
.acionarSeguro a,
.comprar a,
.modal-pagamento .btn-pagar {
	font-family: "Quicksand";
	font-size: 1.15rem;
	font-weight: bold;
	letter-spacing: 1.5px;
	text-align: center;
	background: #1ab455;
	color: #fff;
	border: 1px solid #fff;
	padding: 10px;
	width: 300px;
	display: block;
	transition: all 0.3s;
	cursor: pointer;
}

.saque a:hover,
.deposito a:hover,
.transferencia a:hover,
.cadastroPix a:hover,
.exclusaoPix a:hover,
.transferirPix a:hover,
.acionarSeguro a:hover,
.comprar a:hover {
	background: #27ca65;
}

/* --------------------------- */

/* CONTAS */

.contas div {
	margin-left: 30px;
}

.contas h2, .menuSeguros h2, .pix h2 {
	font-size: 2.5rem;
	text-align: center;
	margin: 15px;
}

/* --------------------------- */

/* PIX */

.exclusaoPix div,
.transferirPix div,
.consultaPix div {
	margin-bottom: 5px;
}

.exclusaoPix #conteudoChaveExcluir, .transferirPix input {
	padding: 10px;
	width: 300px;
	margin-top: 5px;
	margin-bottom: 10px;
}

.cadastroPix .conteudo {
	margin: 20px 0px;
}

.consultaPix p, .acionarSeguro p {
	margin-bottom: 15px;
}

hr {
	margin: 15px 0px;
}

/* --------------------------- */

/* CARTÕES */

.cartoes a {
	font-size: 1.5rem;
	background: transparent;
	color: #000;
	border: 2px solid rgba(0,0,0,0.5);
	padding: 40px;
	margin-right: 15px;
	transition: all 0.3s;
	cursor: pointer;
}

.cartoes h2 {
	padding: 20px 0px 15px 0px;
}

.cartoes .credito a {
	margin-bottom: 15px;
}

.consultaCredito .pagamento {
	display: flex;
}

.consultaCredito .botao-pagarFatura {
	font-family: "Nunito";
	font-weight: bold;
	background: tomato;
	color: #fff;
	border: 1px solid #fff;
	padding: 5px;
	border-radius: 5px;
	margin-left: 65px;
	cursor: pointer;
}

.btn-cancelar:first-child, .botao-cancelar {
	font-family: "Quicksand";
	font-size: 1.25rem;
	position: absolute;
	top: -15px;
	right: -15px;
	padding: 4px 8px;
	border: 2px solid #fff;
	background: tomato;
	color: #fff;
	border-radius: 50%;
	cursor: pointer;
}

.listaCompras {
	font-family: "Nunito";
	font-weight: bold;
	background: tomato;
	color: #fff;
	border: none;
	border-radius: 5px;
	padding: 8px;
	cursor: pointer;
}

/* --------------------------- */

/* MODAIS */

.modal-inserir,
.modal-consultar,
.modal-excluir,
.modal-compras,
.modal-pagamento,
.modal-seguro,
.modalCancelarApolice,
.modalCancelarPix {
	background: #fff;
	border: 2px solid rgba(0,0,0,0.5);
	padding: 30px 50px;
	width: 450px;
	position: relative;
	top: -450px; /*650*/
	margin: 0 auto;
	display: none;
}

.modalCancelarPix {
	top: -800px;
}

.modal-seguro {
	top: -700px;
	height: 300px;
}

.modalCadastroPix {
	background: #fff;
	border: 2px solid rgba(0,0,0,0.5);
	padding: 30px 50px;
	width: 400px;
	position: relative;
	top: -720px;
	margin: 0 auto;
	display: none;
}

.modal-inserir h2,
.modal-inserir p,
.modal-consultar p,
.modal-pagamento p,
.modalCadastroPix p {
	padding: 10px 0px;
}

.modal-excluir p {
	padding: 5px 0;
}

.modal-compras p {
	padding: 5px;
}

.modal-inserir select, .modal-inserir input {
	font-family: "Quicksand";
	padding: 10px;
	width: 250px;
	margin-bottom: 10px;
	display: block;
}

.modal-inserir label {
	display: block;
}

.modal-inserir input {
	margin: 10px 0px;
}

.div-cartoes {
	margin-top: 20px;
	margin-bottom: 20px;
}

.modal-inserir a {
	border: 1px solid #fff;
	padding: 10px;
	margin-right: 5px;
}

.modal-inserir a:first-child {
	background: #1ab455;
	color: #fff;
}

.modal-inserir a:last-child {
	background: tomato;
	color: #fff;
}

.modal-excluir .excluir, .btn-excluirPix {
	font-family: "Quicksand";
	font-size: 1.15rem;
	font-weight: bold;
	letter-spacing: 1.5px;
	text-align: center;
	background: tomato;
	color: #fff;
	border: 1px solid #fff;
	padding: 8px;
	width: 300px;
}

.btn-excluirPix {
	font-size: 1rem;
	border-radius: 5px;
	padding: 5px;
}

.vencimento {
	margin-bottom: 15px;
}

/* --------------------------- */

/* SEGURO */

.seguros {
	grid-column: 1 / 9;
	margin: 0 auto;
	padding: 50px;
}

.seguroMorte, .seguroInvalidez, .seguroDesemprego {
	width: 400px;
	margin: 0 25px;
}

.seguroMorte ul, .seguroInvalidez ul, .seguroDesemprego ul {
	margin-top: 25px;
}

.seguroMorte p, .seguroMorte li,
.seguroInvalidez p, .seguroInvalidez li,
.seguroDesemprego li, .seguroDesemprego p {
	margin: 10px 0;
}

.seguroMorte input, .seguroInvalidez input, .seguroDesemprego input {
	font-family: "Quicksand";
	padding: 10px;
	width: 300px;
	margin: 10px 0px 20px 0px;
}

.seguroMorte label, .seguroInvalidez label, .seguroDesemprego label, .modalCadastroPix label {
	font-size: 1rem;
	margin-top: 25px;
	display: block;
}

.seguroMorte .tempo,
.seguroInvalidez .tempo, 
.seguroDesemprego .tempo {
	display: block;
}

.modal-seguro input {
	margin: 8px 0;
}

.modal-seguro #seguroDesemprego {
	margin-bottom: 35px;
}

.seguroMorte a,
.seguroInvalidez a,
.seguroDesemprego a,
.cancelarSeguro a,
.botao-confirmar {
	font-family: "Quicksand";
	font-size: 1.15rem;
	font-weight: bold;
	letter-spacing: 1.5px;
	text-align: center;
	background: #1ab455;
	color: #fff;
	border: 1px solid #fff;
	padding: 10px;
	width: 300px;
	margin: 0 auto;
	display: block;
	transition: all 0.3s;
	cursor: pointer;
}

.seguroMorte a:hover,
.seguroInvalidez a:hover,
.seguroDesemprego a:hover,
.cancelarSeguro a:hover {
	background: #27ca65;
}

.botoes {
	margin: 15px 0;
}

.visualizarApolice .botao-excluirSeguro {
	font-size: 1rem;
	font-weight: bold;
	padding: 8px;
	background: tomato;
	color: #fff;
	text-align: center;
}

.acionarSeguro .radios {
	margin-bottom: 15px;
}

.acionarSeguro input {
	margin-bottom: 10px;
}

.visualizarApolice, .cancelarSeguro {
	grid-column:  1 / 9;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	margin: 0 auto;
}

.visualizarApolice .apolice, .cancelarSeguro fieldset {
	margin: 25px;
	width: 400px;
}

.cancelarSeguro div {
	margin-top: 25px;
}

.visualizarApolice p, .cancelarSeguro p {
	margin: 10px 0;
}

#nao {
	margin-bottom: 25px;
}

/* --------------------------- */

/* FOOTER|RODAPÉ */

footer {
	grid-column: 1 / 9;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 1.15rem;
	background: #1ab455;
	color: #fff;
	position: relative;
	padding: 30px;
	margin-top: 140px;
}

footer h2 {
	margin-bottom: 10px;
}

footer p {
	margin-bottom: 5px;
}

footer a {
	color: #fff;
}

