<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Banco Next | Contratar Seguro</title>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link
	href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap"
	rel="stylesheet">
<link th:href="@{/styles/style.css}" rel="stylesheet" />
<link rel="shortcut icon" th:href="@{/imagens/next.png}">
</head>

<body>
	<div class="container">
		<header>
			<h1>
				<a href="../index.html"> Banco Next </a>
			</h1>
			<ul>
				<li><a href="../areaLogado.html"> Minha Área </a></li>
				<li><a href="../escolhaCartao.html"> <strong>Cartões</strong>
				</a></li>
				<li><a href="../pix.html"> Área PIX </a></li>
				<li><a href="../index.html"> Cancelar </a></li>
			</ul>
		</header>

		<section class="seguros" th:object="${conta}">
			<section class="seguroMorte">
				<fieldset>
					<form action="contratar" method="POST">
					
						<legend>  --------  CONTRATO DO SEGURO   -------- </legend>
						<legend>  -------  DADOS DO CONTRATANTE  -------- </legend>
						<p>
							<strong> -Nome do Segurado: </strong><span th:text="${conta.cliente.nome}"> Nome </span>
						</p>
						
						<p>
							<strong> -CPF do Segurado: </strong><span th:text="${conta.cliente.cpf}"> Nome </span>
						</p>
						<p>
							<strong> -Data da Contratação: </strong><span th:text="${conta.credito.apolice.dataAssinatura}"> Nome </span>
						</p>
						
						<p>
							<strong> -Data Limite Carencia: </strong><span th:text="${conta.credito.apolice.dataCarencia}"> Nome </span>
						</p>
						<p>
							<strong> -Validade desta Apolice: </strong><span th:text="${conta.credito.apolice.dataValidade}"> Nome </span>
						</p>
						
						<p>
							<strong> -Tipo de Seguro contratado: </strong><span th:text="${conta.credito.apolice.seguro.tipoSeguro.name}"> Nome </span>
						</p>

						<p>
							<strong> -Taxa da Apolice: </strong><span th:text="${conta.credito.apolice.seguro.taxa}"> Nome </span>
						</p>
						
						<legend>  -------------  REGRAS  ---------------- </legend>
						<p>
							<strong th:each="regra : ${regras}">  
								<strong th:text="${regra}"></strong><br>
							</strong>
						</p>
						<!--ESPACO-->
						<legend>  -------------  CONDIÇÃO  -------------- </legend>
						<p>
							Eu <strong th:text="${conta.cliente.nome}"> </strong><span> aceito todas as    condições propostas 
							neste contrato estipulado na presente data. </span>
						</p>
						<p>
							<span> "Todos os nossos seguros garantem recuperação de 100% do valor investido pelo segurado. </span>
						</p>
						<legend>  -----------  ACIONAR SEGURO   ----------</legend>
						<p>
							<strong> Valor do seguro: </strong><span th:text="${conta.credito.apolice.seguro.valor}"> Nome </span>
						</p>
						
						<p>
							<strong> Taxa anual do seguro: </strong><span th:text="${conta.credito.apolice.seguro.taxa}"> Nome </span>
						</p>
						<p>
							<strong> Vigencia da solicitação apartir de </strong><span th:text="${conta.credito.apolice.dataCarencia}"> Nome </span>
						</p>
						
						<p>
							<strong> Valor que será debitado no ato da contratação com base em  </strong><span th:text="${conta.credito.apolice.anos}"> Nome </span>  anos de contrato:
						</p>
						<p>
							<strong th:text="${valortotal}"></strong>
						</p>
						<p>
							<strong>Cesário Lange 30 de Fevereiro de 1850          Empresa Fulano de tal LTDA</strong>
						</p>
						<button>Contratar Seguro</button>
					</form>
				
				</fieldset>
			</section>
		</section>

		<footer>
			<div>
				<h2>Endereço</h2>
				<p>
					Avenida Brasil, 277 - <strong> CEP: </strong> 08125-377
				</p>
				<p>Alphaville</p>
				<p>São Paulo / SP</p>
			</div>
			<div>
				<h2>Mídias</h2>
				<p>@banconext</p>
				<p>next_next</p>
				<p>
					<a href="https://next.me/" target="_blank">https://next.me/</a>
				</p>
			</div>
			<div>
				<h2>Contato</h2>
				<p>next.foursys@next.com</p>
				<p>(11) 2025-2520</p>
				<p>Banco Next © Alguns direitos reservados.</p>
			</div>
		</footer>
	</div>

	<script type="text/javascript" th:src="@{/js/dashboard.js}"></script>

</body>
</html>