* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  font-family: "Quicksand";
  background: #00FF5F; /**/
  overflow-x: hidden; /**/
}

a {
	text-decoration: none;
}

.container {
	display: grid;
	grid-template-columns: repeat(8, 1fr);
}

header {
	grid-column: 1 / 9;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: #000; /*#208454*/
	padding: 30px;
}

header ul {
	display: flex;
	list-style: none;
}

header ul li {
	margin-right: 30px;
}

header h1 a {
	font-size: 2.5rem;
	color: #fff;
}

header ul li a {
	color: #fff;
	letter-spacing: 1.5px;
}

/* --------------------------- */

.formBasico, .formEnd {
	display: none;
}

.log, .formBasico, .formEnd {
	grid-column: 1 / 9;
	margin: 30px auto;
}

fieldset {
	padding: 50px;
}

fieldset legend {
	font-size: 2rem;
}

.log label, .formBasico label, .formEnd label {
	font-size: 1.25rem;
	display: block;
}

.log input, .formBasico input, .formEnd input {
	font-family: "Quicksand";
	padding: 10px;
	width: 300px;
	margin: 5px 0px 20px 0px;
	border: none;
}

select {
	display: block;
}

.tipoConta {
	font-family: "Quicksand";
	padding: 10px;
	width: 300px;
	margin: 5px 0px 20px 0px;
}

.tipoConta option {
	font-family: "Quicksand";
}

.btn-logar,
.btn-avancar,
.btn-finalizar,
.btn-voltar,
.botao-cad,
.botaoFuncao,
.botaoCriarCartao,
.botaoCompra,
.botaoFatura,
.botaoPix {
	font-family: "Quicksand";
	font-size: 1.15rem;
	font-weight: bold;
	letter-spacing: 1.5px;
	text-align: center;
	background: #000; /*#208454*/
	color: #fff;
	border: none;
	padding: 10px;
	width: 300px;
	display: block;
	transition: all 0.3s;
	cursor: pointer;
}

.botaoFatura {
	width: 150px;
	font-size: 1rem;
	border-radius: 5px;
	background: transparent;
	color: #000;
	border: 1px solid #000;
}

.botaoFatura:hover {
	background: #000;
	color: #00FF5F;
}

.btn-logar {
	color: #00FF5F; /**/
}

#btn-log, #btn-add, .titulo, .link_menu {
	color: #00FF5F; /**/
}

.titulo_apolice { /**/
	font-weight: bold;
}

.label, .titulo {
	font-weight: bold;
}

.formEnd div {
	display: flex;
}

.formEnd a {
	width: 150px;
}

.btn-voltar {
	background: tomato;
	color: #fff;
}

.btn-voltar:hover {
	background: rgb(245, 107, 83);
}

.btn-logar:hover,
.btn-avancar:hover,
.btn-finalizar:hover,
.botao-cad:hover,
.botaoFuncao:hover,
.botaoCriarCartao:hover,
.botaoCompra:hover,
.botaoPix:hover {
	background: #222; /*#208454*/
}

/* --------------------------- */

.funcoes p, .cartoes p {
	font-size: 1.5rem;
	padding: 30px;
	position: absolute;
	right: 80px;
	top: 110px;
}

/* --------------------------- */

.funcoes, .cartoes, .pix, .seguros, .contas {
	grid-column: 1 / 9;
	margin: 100px auto;
}

.funcoes div, .cartoes div, .pix div, .seguros div, .contas div {
	display: flex;
	padding: 20px auto;
	margin: 0 auto;
}

.funcoes a,
.contas a,
.botaoCartao,
.botaoMenuCartao {
	font-size: 2rem;
	background: transparent;
	color: #000;
	border: 2px solid rgba(0,0,0,0.5);
	padding: 80px;
	margin-right: 15px;
	transition: all 0.3s;
	cursor: pointer;
}


.contas a, .funcao_a { /**/
	background: transparent;
	transition: all 0.3s;
}

.funcao_a:hover, .botaoCartao:hover, .botaoMenuCartao:hover { /**/
	background: #000;
	color: #00FF5F;
}

.contas a:hover { /**/
	background: #000;
	transform: scale(1.1);
}

/* --------------------------- */

.cartoes a {
	font-size: 1.5rem;
	background: transparent;
	color: #000;
	border: 2px solid rgba(0,0,0,0.5);
	padding: 40px;
	margin-right: 15px;
	transition: all 0.3s;
	cursor: pointer;
}

.cartoes h2 {
	padding: 20px 0px 15px 0px;
}

.cartoes .credito a {
	margin-bottom: 15px;
}

/* --------------------------- */

.contas div {
	margin-left: 30px;
}

.contas h2, .seguros h2, .pix h2 {
	font-size: 2.5rem;
	text-align: center;
	margin: 15px;
}

/* --------------------------- */

.btn-cancelar:first-child {
	font-family: "Quicksand";
	font-size: 1.25rem;
	position: absolute;
	top: -15px;
	right: -15px;
	padding: 4px 8px;
	border: 2px solid #fff;
	background: tomato;
	color: #fff;
	border-radius: 50%;
	cursor: pointer;
}

/* --------------------------- */

.modal-inserir {
	background: #fff;
	border: 2px solid rgba(0,0,0,0.5);
	padding: 30px 50px;
	width: 450px;
	position: relative;
	top: -780px;
	margin: 0 auto;
	display: none;
}

.modal-inserir h2, .modal-inserir p {
	padding: 10px 0px;
}

.modal-inserir select, .modal-inserir input {
	font-family: "Quicksand";
	padding: 10px;
	width: 250px;
	margin-bottom: 10px;
	display: block;
}

.modal-inserir label {
	display: block;
}

.modal-inserir input {
	margin: 10px 0px;
}

.div-cartoes {
	margin-top: 20px;
	margin-bottom: 20px;
}

.modal-inserir a {
	border: 1px solid #fff;
	padding: 10px;
	margin-right: 5px;
}

.modal-inserir a:first-child {
	background: #208454;
	color: #fff;
}

.modal-inserir a:last-child {
	background: tomato;
	color: #fff;
}
/* --------------------------- */

footer {
	grid-column: 1 / 9;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 1.15rem;
	background: #000; /*#208454*/
	color: #00FF5F; /*#fff*/
	position: relative;
	padding: 30px;
	margin-top: 50px;
}

.link_next {
	color: #00FF5F; /**/
}

footer h2 {
	margin-bottom: 10px;
}

footer p {
	margin-bottom: 5px;
}

footer a {
	color: #fff;
}

a:hover {
	color: #fff;
}

.btn-criar, .botaoFuncao {
	width: 200px;
}

.saldo {
	font-size: 1.5rem;
	position: absolute;
	right: 20px;
}

.div-botoes {
	display: flex;
	justify-content: center;
}

/* DAQUI PRA BAIXO */

.editar {
	font-size: 1.15rem;
	font-weight: bold;
}

.editarInput {
	background: #000;
	color: #00FF5F;
	outline: 0;
	border: 1px solid #000;
}

.editarInput::placeholder {
	color: #00FF5F;
}

.botaoGeral {
	font-family: "Quicksand";
	font-size: 1.15rem;
	font-weight: bold;
	letter-spacing: 1.5px;
	text-align: center;
	background: transparent;
	color: #000;
	border: 1px solid #000;
	padding: 10px;
	width: 300px;
	display: block;
	transition: all 0.3s;
	cursor: pointer;
}

.botaoGeral:hover {
	background: #000;
	color: #00FF5F;
}

.caixa_pix {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
}

.caixa_pix div {
	border: 2px solid rgba(0,0,0,0.5);
	padding: 10px;
	text-align: center;
	border-radius: 10px;
	margin-right: 15px;
}

.botaoTipo:hover {
	color: #00FF5F;
}
